@font-face {
  font-family: "iconfont"; /* Project id 3029118 */
  src: url('iconfont.woff2?t=1740191113277') format('woff2'),
       url('iconfont.woff?t=1740191113277') format('woff'),
       url('iconfont.ttf?t=1740191113277') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exclaimination:before {
  content: "\e7f7";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-fanhui:before {
  content: "\e700";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-yuechi:before {
  content: "\e62c";
}

.icon-gantanhao:before {
  content: "\e8a5";
}

.icon-login:before {
  content: "\e62f";
}

.icon-duigou_kuai:before {
  content: "\ed1d";
}

.icon-fangda:before {
  content: "\e604";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-xiangshang:before {
  content: "\e601";
}

.icon-jia:before {
  content: "\e602";
}

.icon-biaoqian:before {
  content: "\e65b";
}

.icon-icon:before {
  content: "\e651";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-shijian:before {
  content: "\e603";
}

.icon-dianji:before {
  content: "\e644";
}

.icon-chacha:before {
  content: "\e658";
}

.icon-youjiantou:before {
  content: "\e61e";
}

.icon-tushu:before {
  content: "\e600";
}

.icon-jurassic_message:before {
  content: "\e69f";
}

.icon-dongman:before {
  content: "\fb79";
}

.icon-a-Deliverydisongfasongzhifeiji:before {
  content: "\e6ff";
}

.icon-ziyuan25:before {
  content: "\e608";
}

.icon-xianxingicon-03:before {
  content: "\e60d";
}

.icon-quanyonghu:before {
  content: "\e621";
}

.icon-baojiaquotation:before {
  content: "\e63a";
}

.icon-baojiaquotation2:before {
  content: "\e63c";
}

.icon-weixin:before {
  content: "\e615";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-wodewenzhang:before {
  content: "\e7d3";
}

.icon-bilibili-line:before {
  content: "\e69e";
}

.icon-guanyuwomen:before {
  content: "\e69a";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-github:before {
  content: "\e737";
}

.icon-link:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e631";
}

.icon-xia-jiantou:before {
  content: "\e657";
}

